.state-grid {
    display: flex;
    justify-content: space-around;
}
.col {
    width: 2em;
    display:flex;
    flex-direction: column-reverse;
}

.crate {
    border: 2px black solid;
}

.crate-blue {
    background-color: blue;
    color:white
}
.crate-yellow {
    background-color: yellow;
}

.crate-green {
    background-color: green;
}
.crate-purple {
    background-color: purple;
    color: white;
}

.crate-brown {
    background-color: brown;
    color: white;
}

.crate-grey {
    background-color: grey;
}

.crate-aqua {
    background-color: aqua;
}

.col .crate:last-of-type {
    color: red;
    font-weight: bold;
}