body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 97vh;
}

.header {
  display: flex;
  justify-content: space-around;
}
.header a {
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.header a.active {
  color: blue;
}

.input {
  width: 50%;
  max-height: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.max {
  width: 100%;
  height: 100%;
}

.result {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px 20px;
}

.grid-title {
  display: contents;
  font-size: large;
  font-weight: bold;
}

.chart {
  flex-grow: 1;
  max-height: 50em;
}

.text-visualisation {
  overflow: scroll;
  text-align: center;
  width: 100%;
}

.error {
 color: red; 
}

.subtitle {
  font-size: large;
  font-weight: bold;
}

.spacer {
  min-width: 1em; 
}

.text-row {
  display: flex;
}
.part1 {
  width: 48%;
  max-width: 99%;
  text-align: right;
}

.part2 {
  width: 48%;
  max-width: 99%;
  flex-grow: 1;
  text-align: left;
}

span.dir {
  color:blue;
}
.square.xxtiny {
  height: 3px;
  width: 3px;
  font-size: xx-small;
}
.square.xtiny {
  height: 5px;
  width: 5px;
  font-size: xx-small;
}
.square.tiny {
  height: 10px;
  width: 10px;
  font-size: x-small;
}
.square.xxsmall {
  height: 20px;
  width: 20px;
}
.square.xsmall {
  height: 30px;
  width: 30px;
}
.square.small {
  height: 50px;
  width: 50px;
}

.line {
  display: flex;
}

.tooltip .content {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
    /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
  
.tooltip:hover .content {
  visibility: visible;
}

.animation {
  text-align: center;
  display: block;
  width: 50%;
  min-height: 75%;
  height: 75%;
  max-height: 75%;
  margin-bottom: 20px;
}
.state-container {
  display: grid;
  min-height: 90%;
  max-height: 90%;
  overflow: scroll;
}
.state-grid {
  height: 100%;
  max-height: 100%;
}

.slider {
  width: 100%;
}
.timing {
  display: flex;
  justify-content: space-around;
}

.border-outline {
  border: 1px solid black;
}